<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./static/styles.css">

    <title>go-htmx-todos</title>
</head>
<body class=" flex items-center justify-center">
    <div class="bg-white shadow-lg rounded-lg mt-6 w-1/2">
        <div class="px-4 py-2">
            <h1 class="text-gray-800 font-bold text-2xl text-center">GO HTMX ToDo-List</h1>
        </div>
        <form class="w-full  mx-auto px-4 py-2" hx-post="/add-todo/" hx-target="#todo-list" hx-swap="beforeend" hx-indicator="#spinner">
            <div class="flex items-center border-b-2 border-teal-500 py-2">
                <input
                        id="new-todo" name="title" class="w-full text-gray-700 mr-3 py-1 px-2 focus:outline-none" type="text" placeholder="Add a task">
                <button
                        class="flex-shrink-0 flex pr-5 justify-center items-center bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
                        type="submit">
                    <div
                            id="spinner"
                            class="inline-block h-4 w-4 animate-spin rounded-full border-4 border-solid border-current border-e-transparent align-[-0.125em] text-surface motion-reduce:animate-[spin_1.5s_linear_infinite] dark:text-white htmx-indicator"
                            role="status">
                        <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
                    </div>
                    Add
                </button>


            </div>
        </form>
        <ul class="divide-y divide-gray-200 px-4" id="todo-list">
            {{ range .Todos }}
                {{ block "todo-list-element" .}}
                    <li class="py-4">
                        <div class="flex items-center">
                            <input id="{{ .Id }}" name="todo1" type="checkbox"
                                   {{if eq .Done true }}checked{{end}}
                                   class="h-4 w-4 border-gray-300 rounded">
                            <label for="{{ .Id }}" class="ml-3 block text-gray-900">
                                <span class="text-lg font-medium {{if eq .Done true }}line-through{{end}}">{{ .Title }}</span>
                            </label>
                        </div>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>



    <!--<div class="row mt-4 g-4">
        <div class="col-8">
            <h1 class="mb-4">Film List</h1>
            <ul class="list-group fs-5 me-5" id="film-list">
                {{ range .Films }}
                    {{ block "film-list-element" .}}
                        <li class="list-group-item bg-primary text-white">{{ .Title }} - {{ .Director }}</li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        <div class="col-4">
            <h1 class="mb-4">Add Film</h1>

            <form hx-post="/add-film/" hx-target="#film-list" hx-swap="beforeend" hx-indicator="#spinner">
                <div class="mb-2">
                    <label for="film-title">Title</label>
                    <input type="text" name="title" id="film-title" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="film-director">Director</label>
                    <input type="text" name="director" id="film-director" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>
                    Submit
                </button>
            </form>
        </div>

    </div>-->
</body>
</html>
